body{
  background-color: #dacabf;


#main-container{
  margin-top: 70px;
}

.middlr{
  display: block;
  margin: auto;
}
<<<<<<< HEAD
.text-center{
  text-align: center;
}

.content-frame{
  width: 500px;
  max-width: 100%;
  min-height: 35vh;
  margin-bottom: 15px;
  background: 4885ed;
  padding:2px;
  box-shadow: 0px 1px 2px grey;

}
